
/* Navbar */
.mainLogo{width:180px;}
.mainLogo img{ width: 140%; margin-top: -25px;}

/* Layout */
.clear{clear:both}
.fl{float:left}
.fr{float:right}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/SlenderGoldFLF.woff);
}
.default-font{
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-heading{
    font-size: 15px !important;
    line-height: 28px !important;
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 25px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 12px;
}

.customFont-h3 {
    font-size: 34px !important;
    line-height: 27px !important;
}
.customFont-h4 {
    font-size: 28px !important;
    line-height: 28px !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

nav-font-style {
    font-family: myFirstFont, sans-serif;
    font-size: 40px;
}

.navbar-default .nav li a {
    /*font-family: myFirstFont, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 18px;
/*    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #B3ADCF;*/
}

/*nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink .nav li a{color:royalblue!important}
nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink .nav li a:hover{color:blue!important}*/

@media (min-width: 768px){
    .navbar-default.navbar-shrink {
        background-color: #FFF;
        padding: 10px 0;
        
    }
    .intro-text{
        height: 800px
    }
    /*.mainLogo img{  margin-top: -20px;}*/
}

    
/* Responsive */
@media (min-width: 768px){ 
    .navbar-default.navbar-shrink .mainLogo {
        width:130px;
         margin-top: 10px;
    }
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 5px;
    color: #fff;
    background-color: #6C5F9D;
}

::selection {
    text-shadow: none;
    background: #6C5F9D;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #6C5F9D;
}
.intro-quote {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
        color: #00010A;
        opacity: 1 !important;
        font-size: 18px;
}

.text-primary {
    color: #D09ECE;
}
.text-secondary {
    text-align: left;
    color: #777;
}

.label-style{
    font-style: italic;
    font-weight: bold;
}

text-bold{ font-weight: bold; }

.cursor-pointer {
    cursor: pointer;
}

.collapse-style {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #337AB7;
}

body {
    font-family: myFirstFont, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.btn-style {
    border-radius: 5px;
    color: #fff !important;
    background-color: #6C5F9D !important;
}
.btn-style:hover {
    border-radius: 5px;
    color: #fff !important;
    background-color: #337AB7 !important;
}


.navbar-default .navbar-nav>.active>a:hover {
    border-radius: 5px;
    color: #fff !important;
    background-color: #337AB7 !important;
}
.nav-text-image {
    width: 25px;
    padding-right: 5px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(173,166,202,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

.valign-center{vertical-align: middle !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.padding5{padding: 5px}
.padding10{padding: 10px}
.margin-top-10-perc {margin-top: 10% !important;}
.font-primary{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
/* buttons */
.btn-style {
    border-radius: 5px;
    color: #fff !important;
    background-color: #6C5F9D !important;
}
.btn-style:hover {
    border-radius: 5px;
    color: #fff !important;
    background-color: #337AB7 !important;
}

.block{display: block;}
.jqmOverlay { background: #000000; height: 100%; width: 100%; display: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; left: 0; top: 0; position: fixed; z-index: 999; }
.jqmModal { display: none; z-index: 999; position: absolute; top: 10%; left: 0; right: 0; margin: 0 auto; width: 100%; max-width: 800px; padding: 30px; }
.modal { left: 0; top: 0; position: fixed; z-index: 998; }
.padding-right-5{padding-right: 5px}
.padding-left-5{padding-left: 5px}
.padding-left-10{padding-left: 10px}
.padding-top-10{padding-top: 10px;}
.padding-left-23 { padding-left: 23px; }
.padding-panel{padding: 1% 1% 1% 1%;}
.margin-top-3{margin-top: 3px;}
.margin-top-20{margin-top: 20px;}
.margin-top-50{margin-top: 50px;}
.margin-left-5{margin-left: 5px;}
.margin-left-3-perc{margin-left: 3%;}
.margin-left-15{margin-left: 15px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-bottom-10{margin-bottom: 10px;}
.width-5-percent{width: 5%;}
.width-10-percent{width: 10%;}
.width-20-percent{width: 20%;}
.width-25-percent{width: 25%;}
.width-30-percent{width: 30%;}
.width-33-percent{width: 33%;}
.width-40-percent{width: 40%;}
.width-50-percent{width: 50%;}
.width-60-percent { width: 60%; }
.width-70-percent { width: 70%; }
.width-80-percent { width: 80%; }
.width-90-percent { width: 90%; }
.width-94-percent { width: 94%; }
.width-100-percent { width: 100%; }
.width-250{width: 250px;}
.width-350{width: 350px;}
.width-450{width: 450px;}
.border-right-grey{border-right: 1px solid #DDDDDD;}
.color-red{color: red;}
.color-light-red{color: salmon;}
.color-green{color: greenyellow;}
.font-50{font-size: 50px;}
.font-15{font-size: 15px;}
.height800{height: 800px;}

/* cursor */
.cursor-pointer{cursor: pointer;}

.img-preview-modal-container {
  padding: 30px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

 .iconSpacing {margin: 7px 0px 0px 0px;}
 
 .messagemodal-container {
    margin: 0 auto;
    top: 247px;
    left: 50%;
    margin-left: -169px;
    padding: 10px;
    position: fixed;
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    /* margin: 0 auto; */
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.img-preview-modal-container {
  padding: 30px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.messagemodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.messagemodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.messagemodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.messagemodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.messagemodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

header {
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}

.mainImge {
    margin-top: 50px;
    background-image: url(../img/header_1-bg.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    /*background-size: cover;*/
    -o-background-size: cover;
    text-align: center;
    color: #fff
}
.colorFaded {
    background-color: rgba(255, 255, 255, 0.60);
}
.padding150 {
        padding: 150px 0;
}

header .intro-text {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    padding-top: 100px;
    padding-bottom: 50px;
    color: #114775;
}

section#contact {
    background-color: #F7F7F7;
    background-image: none;
    padding: 100px 0;
    /*background-image: url(../img/konfetti.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1420px;
}
.contactImage {
    /*padding: 150px 0;*/ 
    background-color: #F7F7F7;
    background-image: url(../img/konfetti.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1420px;
}

@media (min-width: 768px){ 
    section#contact { padding: 0px;  }
    section { padding: 80px 0; }
}

@media (max-width: 768px){ 
    .intro-text{ height: 400px }
}
@media (max-width: 600px){ 
    .intro-text{ height: 300px }
}
@media (max-width: 400px){ 
    .intro-text{ height: 200px }
}

section#contact .section-heading {
    color: rgba(0, 0, 0, 0.62);
}
.text-muted {
    color: #3F3F3F;
}
.services-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

